PORT=3000
DATABASE_URL=mysql://root:@localhost:3306/ai_learning
OPENAI_API_KEY=Sk-proj-eRyb6Xw_taJ5GfrKjhfLrW3TDEl0Zw5a9d1Y3-Acub_hKpVq7pBz6jduXSwm3xa30Nf6kYcUGxT3BlbkFJUsOxCbQ6NZ77ja-sBGSNs23VwRiZhxlyoBfuYub58WfnQw0euTDkOT6OIdlzQE34poO9OXQFoA
